[Unit]
Description=Atop GPU stats daemon
Documentation=man:atopgpud(8)
Before=atop.service

[Service]
ExecStart=/usr/sbin/atopgpud
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
